<!DOCTYPE html>
<html style="height: 100%">
   <head>
       <meta charset="utf-8">
   </head>
       <div id="container" style="height: 100%"></div>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
       <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
       <script type="text/javascript">
var dom = document.getElementById("container");
var myChart = echarts.init(dom);
var app = {};


option = {
    series: [
        {
            name: '中国',
            type: 'map',
            mapType: 'china',
            roam:true,
            selectedMode:'single',            
            label: {
                normal: {
                    show: true
                },
                emphasis: {
                    show: true
                }
            },            
        }
    ]
};
if (option && typeof option === "object") {
    myChart.setOption(option, true);

myChart.on('mapselectchanged', function (param) {
  alert('123');
  if (mt == 'china') {
      // 全国选择时指定到选中的省份
      var selected = param.selected;
      for (var i in selected) {
          if (selected[i]) {
              mt = i;
              while (len--) {
                  if (mapType[len] == mt) {
                      curIndex = len;
                  }
              }
              break;
          }
      }
      option.tooltip.formatter = '点击返回全国<br/>{b}：{c}';
  }
});    
}
       </script>
   </body>
</html>